<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Success</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="hero-unit">
        </br>
        </br>
        </br>

        <h1>Registration Done Successfully</h1>
        <p>
            Welcome to the Spring Security application!
            Get started quickly by signing in.
        </p>
        <p>
            <a href="/signup" th:href="@{/list_users}" class="btn btn-large btn-success">Sign In</a>
        </p>
    </div>
</div>

<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
