<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Form Register
        </h2>
    </div>

</div>


    <form th:action="@{/reg}" th:object="${user}" method="post" class="form">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}"  th:class="${#fields.hasErrors('firstName')}? error">
                <p>  Invalid Name min character 5</p></div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}"  th:class="${#fields.hasErrors('lastName')}? error">
                <p>  Invalid last name min character 5</p></div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Password">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:class="${#fields.hasErrors('password')}? error">
          <p>  Invalid Password</p></div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"  th:class="${#fields.hasErrors('email')}? error">
                <p>  Invalid Age</p></div>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input class="form-control" type="text" th:field="*{age}" id="age" placeholder="Age">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}" th:class="${#fields.hasErrors('age')}? error">
                <p>  Invalid Age</p></div>
        </div>

        <div class="form-group">

            <select name="gender">

                <option th:each="gen : ${T(com.prv.springsecurity.Gender).values()}"
                        th:value="${gen}" th:text="${gen}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>